   
<section >

    <div class="container">


          <h1> <%= @outfit.title %> Outfit </h1>
           
           

<%= render "form" %>









 <%= filepicker_js_include_tag %>



          




    </div>
</section>