 <!-- Scrollspy set in the body -->
    <body id="home" data-spy="scroll" data-target=".main-nav" data-offset="73">

    <!--///////////////////////////////////////// PARALLAX BACKGROUND ////////////////////////////////////////-->

    <!-- image is set in the CSS as a background image -->
    <!-- <div id="parallax"></div> -->

    <!--///////////////////////////////////////// end PARALLAX BACKGROUND ////////////////////////////////////////-->


    
    <!--/////////////////////////////////////// NAVIGATION BAR ////////////////////////////////////////-->

   <section id="header">

        <!-- Static navbar -->
        <div class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
           
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
              
                    <!-- Logo goes here - replace the image with yours -->
                    <a href="/" class="navbar-brand">
                        <img src="images/logo.png" class="logo-img img-responsive" alt="StyleNerd! Logo" title="StyleNerd! Logo">
                    </a>
                </div>

            <div class="navbar-collapse collapse nav-right">
             
                <ul class="nav navbar-nav navbar-right">
                    <!-- Menu items go here -->
                    <li class="active hidden"><a href="#home">Home</a></li>

                    <li><a href="#features">Your Closet</a></li>
                    <li>
                        <ul>
                            <li><a href="#">Add Items</a></li>
                            <li><a href="#">Add Outfits</a></li>
                        </ul>
                    </li> 
                    
                    <li><a href="#gallery">Inspiration</a></li>
                    <!-- <li><a href="#pricing">Pricing</a></li> -->
                    <!-- <li><a href="#testimonials">Testimonials</a></li> -->
                    <li><a href="login">Sign Out</a></li>
                    <!-- If you want sub-menu items, do them like this
                    
                    You just need to delete these comment lines -->
                </ul>
            </div>

          </div>
        </div>

    </section>