
    <!--/////////////////////////////////////// PRICING SECTION ////////////////////////////////////////-->
    <section id="pricing">

        <div class="container">

            <header>
                <h1>Prices that go Booom!</h1>
                <p class="lead">Select from our ranges of prices - you won't be disappointed!</p>
            </header>

            <div class="row">  

                <div class="col-md-4">
                    <div class="pricing-box">
                        <div class="pricing-heading">
                            Little Bang
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $69.90
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            small fish package
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>How about one more?</li>
                            <li>You can add</li>
                            <li>unlimited lines</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            <a class="btn btn-large btn-pricing">Buy Now</a>
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4">
                    <div class="pricing-box popular">
                        <div class="pricing-heading">
                            Solid Bang
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $99.90
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            make an impact
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>How about one more?</li>
                            <li>You can add</li>
                            <li>unlimited lines</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            <a class="btn btn-large btn-pricing-popular">Buy Now</a>
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4">
                    <div class="pricing-box">
                        <div class="pricing-heading">
                            Maxi Bang
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $139.90
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            blast your audience!
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>How about one more?</li>
                            <li>You can add</li>
                            <li>unlimited lines</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            <a class="btn btn-large btn-pricing">Buy Now</a>
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-4 -->
        
            </div><!-- end row -->
        </div><!-- end container -->

    </section>

    <!--/////////////////////////////////////// end PRICING SECTION ////////////////////////////////////////-->

