<%= render "header" %>
    

    <!--/////////////////////////////////////// BLOG SECTION ////////////////////////////////////////-->

    <section id="blog">

        <div class="container">

            <header>
                <h1>Login.</h1>
                <p class="lead">Example with small image thumbnails</p>
            </header>

           

            <div class="row blog-layout">
                
                <!--/// MAIN COLUMN ///-->
                <div class="col-md-8 main-column">
                    
                

                  



    </section>

    <!--/////////////////////////////////////// end FEATURES SECTION ////////////////////////////////////////-->





