<section id="gallery">

        <div class="container">

             <header>
                <h1>Your Closet</h1>
                <p class="lead">Browse through Your Closet and Create Spiffy Outfits.</p>
            </header>

            <!--////////// Sortable Gallery Filters //////////-->
            <div id="filters" class="gallery-filter">
                <select>
                    <option value="*">All</option>
                    <option value=".kittens">Tops</option>
                    <option value=".food-drinks">Bottoms</option>
                    <option value=".urban">1 Pieces</option>
                    <option value=".sports">Accesories</option>
                </select>    
            </div>
            <!--////////// end of Sortable Gallery Filters //////////-->

            <div id="gallery-items">

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all kittens">
                    <figure>  
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>
                    </figure>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all kittens">
                    <figure>
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" class="img-responsive"/></a>
                        
                        <!--/// link to a details portfolio page ///-->
                        <div class="item-hover">
                            <a href="portfolio-single.html">Add to Outfit</a> 
                        </div>   

                    </figure>    
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all kittens food-drinks">
                    <figure>
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>
                    </figure>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all urban">
                    <figure>
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>

                        <!--/// link to a details portfolio page ///-->
                        <div class="item-hover">
                            <a href="portfolio-single.html">View Details</a> 
                        </div>   

                    </figure>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all sports">
                    <figure>
                        <a href="http://www.placehold.it/640x480"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>
                    </figure>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all food-drinks">
                    <figure>
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>
                    </figure>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all sports food-drinks kittens">
                    <figure>
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>
                    </figure>        
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all sports">
                    <figure>
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>

                        <!--/// link to a details portfolio page ///-->
                        <div class="item-hover">
                            <a href="portfolio-single.html">View Details</a> 
                        </div>   

                    </figure>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all urban">
                    <figure>
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>
                    </figure>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all urban food-drinks">
                    <figure>
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>
                    </figure>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all kittens">
                    <figure>
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>
                    </figure>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all sports urban">
                    <figure>
                        <a href="http://www.placehold.it/640x480" class="zoom"><img src="http://www.placehold.it/640x480" alt="gallery-image" title="gallery-image" class="img-responsive" /></a>
                    </figure>
                </div>

            </div>

        </div><!-- /container -->

    </section>

    <!--/////////////////////////////////////// end GALLERY SECTION ////////////////////////////////////////-->
