   
<section >

    <div class="container">


          <h1> Edit Clothing Item</h1>
           
           

<%= render "form" %>






<%= params.inspect %>


 <%= filepicker_js_include_tag %>



          




    </div>
</section>